{% extends "base_generic.html" %}

{% block content %}
<h1>{{ author }}</h1>

<p><strong>First name:</strong>{{ author.first_name }}</a></p>

<p><strong>Last name:</strong> {{ author.last_name }}</p>
<p><strong>Birth:</strong> {{ author.date_of_birth }}</p>
{% if author.date_of_death %}<p><strong>Death:</strong>{{ author.date_of_death }}</p>{% endif %}

<div style="margin-left:20px;margin-top:20px">
    <h4>Books</h4>

    {% for book in author.book_set.all %}
    <hr>
    <p><a href="{% url 'book-detail' book.pk %}">{{ book.title }}</a></p>
    {% endfor %}
</div>
{% endblock %}